---
import '../style.css'
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<h1>
		Astro
	</h1>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit.
		Consectetur sequi enim architecto illo eius ab voluptate corporis dolore.
		Quo eaque sed dolorem incidunt ea veritatis reiciendis quia ipsum.
		Dolorem, animi.
	</p>
</body>

</html>
